@model IEnumerable<Book>
@{
    ViewData["Title"] = "Books";
}

<div class="row">
    <div class="col-lg-6">
        @Html.Raw(TempData["Message"])
    </div>
</div>

<div class="text-center col-lg-12 col-xl-12 col-md-12 col-sm-12">
    <table class="table table-hover table-responsive">
        <thead>
            <tr>
                <th>
                    <input type="checkbox" class="checkbox" id="select_all" />
                </th>

                <th>
                    S.NO
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.FirstOrDefault().Title)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.FirstOrDefault().Isbn)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.FirstOrDefault().Language)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.FirstOrDefault().Author)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.FirstOrDefault().Price)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.FirstOrDefault().LastUpdate)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.FirstOrDefault().Remarks)
                </th>

                <th>
                    Options
                </th>
            </tr>
        </thead>

        <tbody>
            @if (Model.Any())
            {
                var sNo = 1;
                foreach (var book in Model)
                {
                    <tr>
                        <td>
                            <input type="checkbox" class="checkbox" />
                        </td>

                        <td>
                            @(sNo++)
                        </td>

                        <td>
                            @Html.DisplayFor(modelBook => book.Title)
                        </td>

                        <td>
                            @Html.DisplayFor(modelBook => book.Isbn)
                        </td>

                        <td>
                            @(book.Language != null ? book.Language : "---")
                        </td>

                        <td>
                            @(book.Author != null ? book.Author : "---")
                        </td>

                        <td>
                            @(book.Price?? (object) "---")
                        </td>

                        <td>
                            @Html.DisplayFor(modelBook => book.LastUpdate)
                        </td>

                        <td>
                            @(book.Remarks != null ? book.Remarks : "---")
                        </td>

                        <td>
                            <a asp-controller="Home" asp-action="Edit" asp-route-id="@book.Id" class="btn btn-primary btn-sm" role="button">Edit</a>
                        </td>
                       
                        <td>
                            <form asp-action="Delete" asp-controller="Home" method="post">
                                <input type="hidden" name="id" id="id" value="@book.Id" />
                                <button type="submit" class="btn btn-sm btn-danger">Delete</button>
                            </form>
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td class="text-center" colspan="8">
                        No Any Book Could Be Found!
                    </td>
                </tr>
            }

        </tbody>
    </table>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('form').submit(function () {
                return confirm('Are you sure to Delete this Entry?') ? true : false;
            });

            $('#select_all').on('click', function () {
                if (this.checked) {
                    $('.checkbox').each(function () {
                        this.checked = true;
                    });
                } else {
                    $('.checkbox').each(function () {
                        this.checked = false;
                    });
                }
            });

            $('.checkbox').on('click', function () {
                if ($('.checkbox:checked').length == $('.checkbox').length) {
                    $('#select_all').prop('checked', true);
                } else {
                    $('#select_all').prop('checked', false);
                }
            });
        });
    </script>
}